.stepper-wrapper {
  color: var(--darkblue);
  font-family: var(--ff-main);
  font-size: var(--h6);
  font-weight: bold;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: '';
  border-bottom: 2px solid var(--green);
  top: 20px;
  z-index: 2;
  /* width: 100%;
  left: -50%; */

  /* border: 1px solid red; */
  width: calc(100% - 40px);
  left: calc(50% + 20px);
}

.stepper-item::after {
  position: absolute;
  content: '';
  border-bottom: 2px solid var(--green);
  top: 20px;
  z-index: 2;
  /* width: 100%; */
  /* left: 50%; */

  border: 2px solid var(--green);
  width: calc(100% - 40px);
  left: calc(50% + 20px);
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background: var(--green); */
  border: 2px solid var(--green);
  margin-bottom: 6px;
}

.stepper-item.completed .step-counter {
  /* background-color: var(--lightlime);*/
  color: var(--lightlime);
  border: 2px solid var(--lightlime);
  filter: drop-shadow(0 0 calc(var(--xs) / 2) var(--white));
}

.stepper-item.completed::after {
  position: absolute;
  content: '';
  border-bottom: 2px solid var(--lightlime);
  top: 20px;
  z-index: 3;
  /* width: 100%;
  left: 50%; */
  width: calc(100% - 40px);
  left: calc(50% + 20px);
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

.stepper-item.unavailable .step-counter {
  /* background: var(--blue); */
  border: 2px solid var(--blue);
}
