.stepper-wrapper {
  color: var(--darkblue);
  font-family: var(--ff-main);
  font-size: var(--h6);
  font-weight: bold;
  margin-inline: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 80%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: '';
  top: 20px;
  z-index: 2;
  width: calc(100% - 40px);
  left: calc(50% + 20px);
}

.stepper-item::after {
  position: absolute;
  content: '';
  border-bottom: 2px solid var(--green);
  top: 20px;
  z-index: 2;
  width: calc(100% - 40px);
  left: calc(50% + 20px);
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--green);
  border: 2px solid var(--green);
  margin-bottom: 6px;
}

.stepper-item.completed .step-counter {
  color: var(--white);
  border: 2px solid var(--white);
  filter: drop-shadow(0 0 calc(var(--xs) / 2) var(--white));
}

.stepper-item.completed::after {
  position: absolute;
  content: '';
  border-bottom: 2px solid var(--lightlime);
  top: 20px;
  z-index: 3;
  width: calc(100% - 40px);
  left: calc(50% + 20px);
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

.stepper-item.unavailable .step-counter {
  color: var(--blue);
  border: 2px solid var(--blue);
}
.stepper-item.unavailable::after {
  position: absolute;
  content: '';
  border-bottom: 2px solid var(--blue);
  top: 20px;
  z-index: 3;
  width: calc(100% - 40px);
  left: calc(50% + 20px);
}

[data-theme='light'] .stepper-item.unavailable .step-counter,
[data-theme='light'] .stepper-item.unavailable::after {
  color: var(--lightlime60);
  border: 2px solid var(--lightlime60);
}
