.profile-wrapper {
  max-width: 420px;
  margin: 0 auto;
  padding: var(--h6) var(--h2);
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--small);
  border: 1px dotted var(--blue);
  border-radius: var(--base-radius);
  box-shadow: var(--blue) 0 0 12px;
}

.profile-button-logout {
  background-color: transparent;
  padding: var(--small);
  border: 1px dotted var(--white);
  border-radius: var(--base-radius);
  color: var(--lightlime);
  font-size: var(--h6);
  font-family: var(--ff-regular);
  cursor: pointer;
  align-self: center;
}
.profile-button-logout:hover {
  color: var(--lightgreen);
  border: 1px dotted var(--lightgreen);
  background-color: var(--darkblue);
}

.profile-field-span {
  color: var(--lightgreen);
}

.profile-field-email,
.profile-field-games {
  padding: 0;
  margin: 0;
  text-align: center;
}

.profile-field-games {
  padding-bottom: var(--xs);
  font-weight: bold;
  color: var(--lightlime);
}

.profile-field-id {
  padding-top: var(--h3);
}

.profile-icon {
  margin: 0 10px;
  padding: 5px;
  font-size: var(--h5);
  border: 2px solid var(--green);
  border-radius: 50%;
  object-fit: cover;
}

.icon {
  width: 100px;
  height: 100px;
}

.profile-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.profile-file-input + label {
  font-size: var(--small);
  color: var(--lightlime);
  text-decoration: underline dotted var(--blue);
  display: inline-block;
  cursor: pointer;
}

.profile-file-input:focus + label,
.profile-file-input + label:hover {
  text-decoration: none;
  color: var(--white);
}

.profile-form-button {
  margin: 0 auto var(--small);
  padding: var(--xs);
  color: var(--green);
  display: block;
  background-color: transparent;
  border: 1px dotted var(--white);
  border-radius: var(--base-radius);
}

.profile-form-button:hover {
  cursor: pointer;
}

.profile-button-logout {
  margin: var(--small) 0;
  padding: var(--small);
  color: var(--lightlime);
  display: block;
  background-color: transparent;
  border: 1px dotted var(--lightlime);
  border-radius: var(--base-radius);
}

.profile-button-logout:hover {
  cursor: pointer;
  background-color: var(--lightlime20);
}

.profile-label {
  margin: 0;
}

.profile-form-spinner {
  font-size: var(--lg);
  position: absolute;
  top: 45%;
  left: 45%;
  animation: rotate-animation 4s infinite linear;
}

.profile-games-list {
  margin: 0;
  padding: 0 0 0 var(--h4);
}

.profile-games-list .complete .profile-game-name {
  text-decoration: line-through var(--white);
}

.profile-games-list .complete::after {
  content: '✓';
  padding-left: var(--xs);
  font-size: var(--small);
  color: var(--white);
}

@layer progress {
  .profile-progress {
    width: 100%;
    margin: var(--xs) 0 0 0;
  }

  .profile-bar {
    width: 100%;
    height: 20px;
    accent-color: var(--green);
    text-align: center;
    line-height: 30px;
    color: var(--white);
  }

  .profile-progress-levels,
  .profile-progress-points {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .profile-progress-levels > p,
  .profile-progress-points > p {
    margin: 0;
    padding: 0;
    font-size: var(--small);
  }

  .profile-progress-points > p {
    color: var(--lightlime);
  }
}

[data-theme='light'] .profile-progress-points > p {
  color: var(--white);
}
[data-theme='light'] .custom-file-input + label {
  color: var(--white);
  text-decoration: underline dotted var(--green);
}
[data-theme='light'] .custom-file-input + label:hover {
  color: var(--green);
  text-decoration: none;
}
