.game-card {
  height: 300px;
  width: 250px;
  background-color: var(--lightlime60);
  border: 2px solid var(--lightlime);
  border-radius: calc(var(--base-radius) * 2);
  position: relative;
  overflow: hidden;
  filter: blur(0.3em) grayscale(50%);
  pointer-events: none;

  margin: var(--h4);
}
.game-card.available {
  filter: blur(0) grayscale(0);
  pointer-events: auto;
}

.game-play {
  position: absolute;
  width: 100%;
  padding: var(--xs) 0;
  appearance: none;
  border-top: 1px dashed var(--lightlime);
  background-color: var(--lightlime60);
  left: 0;
  bottom: 0;
}

.game-card-link:hover .game-play {
  color: var(--lightgreen);
  background-color: var(--darkblue);
  cursor: pointer;
}

.game-card-img {
  max-width: 100%;
  height: auto;
}

.game-complete-icon {
  position: absolute;
  right: 5%;
  top: 75%;
  font-size: var(--h2);
  color: var(--white);
  z-index: 1;
  filter: drop-shadow(0 0 calc(var(--xs) / 2) white);
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

@media (min-width: 720px) {
  .game-card {
    margin: var(--small);
  }
  .hidden {
    display: block;
  }
}
