@layer base {
  
  .card {
    height: 300px;
    width: 250px;
    background-color: var(--lightlime60);
    border: 2px solid var(--lightlime);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  .play {
    position: absolute;
    width: 100%;
    padding: 0.5rem 0;
    appearance: none;
    border-top: 1px dashed var(--lightlime);
    background-color: var(--lightlime60);
    left: 0;
    bottom: 0;
  }

  .play:hover {
    background-color: var(--darkblue);
    color: var(--blue);
  }

  .card-img {
    max-width: 100%;
    height: auto;
  }
}

.unavailable:nth-child(6),
.unavailable:nth-child(7) {
  filter: blur(0.3em) grayscale(50%);
}

.unavailable:nth-child(6),
.unavailable:nth-child(6) a,
.unavailable:nth-child(6) a:hover,
.unavailable:nth-child(7),
.unavailable:nth-child(7) a,
.unavailable:nth-child(7) a:hover {
  pointer-events: none;
}
