.games-container {
  margin: 0 auto;
  padding: 0 var(--h3) var(--h3) var(--h3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cards-container {
  text-align: center;
  max-width: 350px;
  max-height: 350px;
  overflow: hidden;
  position: relative;
}

@layer arrows {
  .games-arrow {
    background-color: transparent;
    border: none;
    color: var(--lightlime);
    font-size: var(--h6);
    cursor: pointer;
  }
  .games-arrow:hover {
    color: var(--blue);
  }

  .left {
    content: url('/chevron-left-solid.svg');
    position: absolute;
    top: 45%;
    left: 0%;
    z-index: 10;
  }

  .right {
    content: url('/chevron-right-solid.svg');
    position: absolute;
    top: 45%;
    right: 0%;
    z-index: 10;
  }
}

.reminder {
  color: var(--blue);
  padding-bottom: var(--h3);
}
.reminder-link {
  color: var(--lightgreen);
}

.games-reminder {
  height: 96px;
  text-align: center;
  display: inline;
}

@media (min-width: 720px) {
  .cards-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    max-height: 1000px;
    gap: var(--h4);
    justify-content: center;
    align-items: center;

    max-height: 1000px;
    padding: 0;
    overflow: hidden;
  }

  .games-arrow {
    display: none;
  }
}
