.games-container {
  margin: 0 auto;
  padding: 0 var(--h3) var(--h3) var(--h3);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  text-align: center;
}

.cards-container {
  /* align-items: center;
  display: flex;
  flex-flow: row;
  gap: var(--h5); */

  text-align: center;
  /* border: 1px solid white; */
  max-width: 350px;
  max-height: 350px;
  overflow: hidden;
  position: relative;
}
.cards-container::before {
  content: url('/chevron-left-solid.svg');
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 10;
  /* border: 1px solid red; */
}
.cards-container::after {
  content: url('/chevron-right-solid.svg');
  position: absolute;
  top: 50%;
  right: 0%;
  z-index: 10;
  /* border: 1px solid red; */
}

.reminder {
  color: var(--blue);
  padding-bottom: var(--h3);
}
.reminder-link {
  color: var(--lightgreen);
}

.games-reminder {
  height: 96px;
  text-align: center;
  display: inline;
}

@media (min-width: 720px) {
  .cards-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    max-height: 1000px;
    gap: var(--h4);
    justify-content: center;
    align-items: center;

    max-height: 1000px;
    padding: 0;
    overflow: hidden;
  }

  .cards-container::before,
  .cards-container::after {
    content: '';
  }
}
