.error-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 var(--h3) var(--h3);
  text-align: center;
  display: flex;
  flex-flow: column;
  gap: var(--h5);
  align-items: center;
}

.error-text {
  font-size: var(--h4);
  color: var(--lightgreen);
}

.error-reset-button {
  background-color: transparent;
  padding: 0.75rem;
  border: 1px dotted var(--lightlime);
  border-radius: var(--base-radius);
  cursor: pointer;
  color: var(--lightlime);
  font-size: var(--h6);
}

.error-reset-button:hover {
  color: var(--blue);
  border: 1px dotted var(--green);
}
