.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 var(--h3) var(--h3) var(--h3);
}
.main h2 {
  color: var(--blue);
  font-size: var(--h3);
}

.main strong {
  display: block;
  color: var(--lightgreen);
  font-family: var(--main);
  font-size: var(--h2);
}

.main-description {
  margin: 0;
  padding: var(--h3) 0;
  font-size: var(--h6);
}
.main-start {
  text-align: center;
  font-size: var(--h5);
  padding: var(--h6) 0;
}

.main-start a {
  padding: var(--small);
  border: 1px dotted var(--lightlime);
  border-radius: var(--base-radius);
}
.main-start a:hover {
  color: var(--lightgreen);
  background-color: var(--darkblue);
  box-shadow: var(--white) 0 0 6px;
}
