.modal {
  position: fixed;
  z-index: 1;
  inset: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-wrapper {
  margin: 0 auto;
  border-radius: var(--base-radius);
  text-align: center;
  padding: var(--h3) var(--h4);
  max-width: 350px;
  background-color: var(--darkblue);
  box-shadow: var(--white) 0 0 12px;

  position: relative;
  top: 25%;
}

.modal-warning,
.modal-warning-progress {
  padding: 0;
  margin: 0;
}

.modal-warning-progress {
  color: var(--lightlime);
  padding-bottom: var(--h4);
}

@layer buttons {
  .modal-button-stay,
  .modal-button-leave {
    background-color: transparent;
    padding: 0.75rem;
    border: 1px dotted var(--lightlime);
    border-radius: var(--base-radius);
  }

  .modal-button-stay {
    color: var(--green);
    margin-right: var(--xs);
  }
  .modal-button-leave {
    color: var(--blue);
    margin-left: var(--xs);
  }

  .modal-button-stay:hover,
  .modal-button-leave:hover {
    color: var(--lightgreen);
    background-color: var(--darkblue);
  }
}
