.modal {
  position: fixed;
  z-index: 1;
  inset: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-wrapper {
  margin: 0 auto;
  border-radius: var(--base-radius);
  text-align: center;
  padding: var(--h3) var(--h4);
  max-width: 400px;
  background-color: var(--darkblue);
  box-shadow: var(--white) 0 0 12px;

  position: relative;
  top: 25%;
}

.modal-warning {
  font-size: var(--h5);
  padding: var(--h5) 0;
  color: var(--lightlime);
}

.modal-warning-progress {
  padding: 0;
  margin: 0;
  padding-bottom: var(--h4);
}

@layer buttons {
  .modal-close {
    position: absolute;
    top: 5%;
    right: 5%;

    background-color: transparent;
    border-color: transparent;
    font-size: var(--h5);
    color: var(--green);
  }
  .modal-close:hover {
    color: var(--white);
  }

  .modal-button-stay,
  .modal-button-leave {
    background-color: transparent;
    padding: 0.75rem;
    border: 1px dotted var(--lightlime);
    border-radius: var(--base-radius);
    font-size: var(--small);
    font-family: var(--ff-regular);
    cursor: pointer;
  }

  .modal-button-stay {
    color: var(--lightlime);
    margin-right: var(--xs);
  }
  .modal-button-leave {
    color: var(--blue);
    margin-left: var(--xs);
  }

  .modal-button-stay:hover,
  .modal-button-leave:hover {
    color: var(--white);
    background-color: var(--darkblue);
    border: 1px dotted var(--white);
    box-shadow: var(--white) 0 0 4px;
  }
}
