.header {
  font-family: var(--ff-regular);
  padding: var(--h3) var(--h3) var(--xl);
}

.header ul {
  list-style-type: none;
  font-size: var(--h6);
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: var(--h5);
}

.header-title {
  margin: 0;
  padding: 0;
}

.header-logo {
  font-size: 50px;
}

.header li:first-child {
  padding: 0;
  margin: 0;
  flex-basis: 100%;
  text-align: center;
}
.header li:first-child a {
  font-family: var(--ff-main);
  color: var(--lightlime);
}
.header li:first-child a:hover {
  color: var(--lightgreen);
  filter: drop-shadow(var(--white) 0 0 10px);
}

.games-link {
  filter: drop-shadow(var(--white) 0 0 6px);
}
.games-link:hover {
  filter: drop-shadow(var(--white) 0 0 0);
}

.header-select {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: var(--white);
  outline: none;
  max-width: 100px;
}
.header-select:hover {
  color: var(--blue);
}

.header-score {
  color: var(--blue);
  font-family: var(--ff-main);
}

@media (min-width: 720px) {  
  .header li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
