.header {
  font-family: var(--ff-regular);
  padding: var(--h3) var(--h3) var(--xl);
}

.header ul {
  list-style-type: none;
  font-size: var(--h6);
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  gap: var(--h5);
}

.header-title {
  margin: 0;
  padding: 0;
}

.header-logo {
  display: inline-block;
  font-size: 50px;
  transition: transform 1s cubic-bezier(0.5, -0.1, 0.1, 1.5);
}

.header li:first-child {
  padding: 0;
  margin: 0;
  flex-basis: 100%;
  text-align: center;
}
.header li:first-child a {
  font-family: var(--ff-main);
  color: var(--lightlime);
}
.header li:first-child a:hover {
  color: var(--white);
}
.header-title:hover .header-logo {
  transform: rotate(360deg);
}

.games-link {
  filter: drop-shadow(var(--white) 0 0 6px);
}
.games-link:hover {
  filter: drop-shadow(var(--white) 0 0 0);
}

.header-select {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  color: var(--white);
  outline: none;
  max-width: 100px;
}
.header-select:hover {
  color: var(--blue);
}

.header-score {
  color: var(--blue);
  font-family: var(--ff-main);
}

@media (min-width: 900px) {
  .header li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

.header-logo:hover {
  transform: rotate(360deg);
}

.header-brain-icon {
  margin: 0 10px;
  padding: 5px;
  font-size: var(--h5);
  border: 2px solid var(--green);
  border-radius: 50%;
}
