.game-button {
  display: inline-block;
  background-color: transparent;
  padding: 0.75rem;
  border: 1px dotted var(--lightlime);
  border-radius: var(--base-radius);
  cursor: pointer;
  color: var(--lightlime);
  font-size: var(--h6);
  min-width: var(--lg);
}

.game-button:hover {
  color: var(--green);
  border: 1px dotted var(--green);
}

.game-controls {
  max-height: 50px;
}

.game-button + .game-button {
  margin-left: var(--small);
}
