.game-button {
  background-color: transparent;
  padding: 0.75rem;
  border: 1px dotted var(--lightlime);
  border-radius: var(--base-radius);
  cursor: pointer;
  color: var(--lightlime);
  font-size: var(--h6);
}

.game-button:hover {
  color: var(--green);
  border: 1px dotted var(--green);
}

.game-button.yes {
  margin-right: var(--xs);
}
.game-button.no {
  margin-left: var(--xs);
}
