.footer {
  padding: 4rem 0 var(--h4);
}
.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: var(--h5);
}
.footer-links a {
  color: var(--green);
}
.footer-links a:hover {
  color: var(--lightlime);
}

.footer-copyright {
  text-align: center;
  color: var(--blue);
}

[data-theme='light'] .footer-copyright {
  color: var(--green);
}
