.answer-input,
.submit-answer {
  border: 1px solid var(--lightgreen);
  background-color: transparent;
  max-width: 72px;
  height: 48px;
  color: var(--lightlime);
  font-size: var(--h5);
  vertical-align: middle;
}

.submit-answer {
  background-color: var(--lightlime60);
  border-radius: 0 var(--base-radius) var(--base-radius) 0;
  max-width: 136px;
  font-size: var(--h6);
}

.answer-input {
  border-radius: var(--base-radius) 0 0 var(--base-radius);
  appearance: none;
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
