.congrats-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 var(--h3) var(--h3) var(--h3);
  text-align: center;
  display: flex;
  flex-flow: column;
  gap: var(--h5);
  align-items: center;
}

.congrats-header {
  color: var(--lightgreen);
}

.congrats-text {
  padding: 0;
  margin: 0 0 var(--h6) 0;
  font-size: var(--h6);
}

.congrats-emoji {
  margin: 0 var(--h4);
  font-size: var(--h2);
}

.congrats-points {
  font-size: var(--h4);
  color: var(--lightlime);
  margin-top: var(--h6);
}
.game-name {
  color: var(--lightgreen);
}

.next-game {
  appearance: none;
  margin: 0;
  padding: var(--xs);
  background-color: transparent;
  color: var(--white);
  border: 1px dotted var(--lightlime);
  border-radius: var(--base-radius);
  font-family: var(--ff-regular);
  font-size: var(--h6);
  cursor: pointer;
}

.next-game:hover {
  color: var(--green);
  border: 1px dotted var(--green);
}

@layer progress {
  .progress {
    margin: 0 0 var(--h5);
    margin-top: var(--small);
    padding: 0;
    /* min-width: 1000px;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--xl);
    justify-content: space-between;
    align-items: center; */

    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--xl);
    justify-content: space-between;
    justify-items: stretch;
    position: relative;
  }

  .progress-span {
    margin: 0;
    color: var(--green);
    padding: 5px;
    font-size: var(--h6);
    border: 2px solid var(--green);
    border-radius: 50%;
    background-color: var(--darkblue);
    z-index: 10;
  }

  .unavailable {
    color: var(--blue);
    border: 2px solid var(--blue);
  }

  .complete {
    color: var(--lightlime);
    border: 2px solid var(--lightlime);
    filter: drop-shadow(0 0 calc(var(--xs) / 2) var(--white));
    background-color: var(--lightlime20);
  }

  .progress-span:before {
    content: '';
    width: 100%;
    border-bottom: 1px dashed var(--lightgreen);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
  }
}
