.congrats-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 var(--h3) var(--h3) var(--h3);
  text-align: center;
  display: flex;
  flex-flow: column;
  gap: var(--h5);
  align-items: center;
}

.congrats-header {
  color: var(--lightgreen);
}

.congrats-emoji {
  font-size: var(--h2);
}
.congrats-points {
  font-size: var(--h4);
  color: var(--lightlime);
  margin-top: var(--h6);
}
.congrats-buttons {
  display: flex;
  flex-flow: row wrap;
  gap: var(--h5);
}
