.congrats-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 var(--h3) var(--h3) var(--h3);
  text-align: center;
  display: flex;
  flex-flow: column;
  gap: var(--h5);
  align-items: center;
}

.congrats-header {
  color: var(--lightgreen);
}

.congrats-text {
  padding: 0;
  margin: 0 0 var(--h6) 0;
  font-size: var(--h6);
}

.congrats-emoji {
  margin: 0 var(--h4);
  font-size: var(--h2);
}

.congrats-points {
  font-size: var(--h4);
  color: var(--lightlime);
  margin-top: var(--h6);
}
.game-name {
  color: var(--lightgreen);
}

.congrats-buttons {
  display: flex;
  flex-flow: row wrap;
  gap: var(--h5);
}

.congrats-buttons a {
  padding: 0.5rem;
  border: 1px dotted var(--lightlime);
  border-radius: 10px;
}
.congrats-buttons a:last-child {
  color: var(--green);
}

.congrats-buttons a:hover {
  color: var(--lightgreen);
}

.next-game {
  appearance: none;
  margin: 0;
  padding: 0.5rem;
  background-color: transparent;
  color: var(--lightlime);
  border: 1px dotted var(--lightlime);
  border-radius: 10px;
  font-family: var(--ff-regular);
  font-size: var(--h6);
}
