:root {
  --darkblue: #00141d;
  --blue: #146c92;
  --green: #45c4b0;
  --lightgreen: #9aeba3;
  --lightlime: #dafdba;
  --white: #f0ffe2;
  --lightlime60: #dafdba60;
  --lightlime20: #dafdba20;
  --warning: #be1f2f;

  --ff-main: Bitter, serif;
  --ff-regular: Raleway, sans-serif;

  --base-size: 1.2rem;
  --scale: 1.25;
  --xl: calc(var(--h1) * var(--scale) * var(--scale)); /* 7.15rem */
  --lg: calc(var(--h1) * var(--scale)); /* 4.575rem */
  --h1: calc(var(--h2) * var(--scale)); /* 3.66rem */
  --h2: calc(var(--h3) * var(--scale)); /* 2.93rem */
  --h3: calc(var(--h4) * var(--scale)); /* 2.34rem */
  --h4: calc(var(--h5) * var(--scale)); /* 1.875rem */
  --h5: calc(var(--h6) * var(--scale)); /* 1.5rem */
  --h6: var(--base-size); /* 1.2rem */
  --small: calc(var(--base-size) / var(--scale)); /* 0.96rem */
  --xs: 0.5rem;

  --base-radius: 10px;
}

html {
  height: 100%;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  max-width: 1280px;
  min-width: 320px;
  font-family: var(--ff-regular);
  line-height: 1.5;
  background-color: var(--darkblue);
  color: var(--green);
  margin: 0 auto;
  padding: 0;
}

:is(h1, h2, h3, .h1, .h2, .h3) {
  font-weight: 400;
  margin: 0;
}

:is(h1, .h1) {
  font-size: var(--h1);
  line-height: 1;
}
:is(h2, .h2) {
  font-size: var(--h2);
  line-height: 1.1;
}
:is(h3, .h3) {
  font-size: var(--h3);
  line-height: 1.2;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--blue);
}

.hint {
  color: var(--blue);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.disabled {
  pointer-events: none;
}

[data-theme='light'] {
	background-color: var(--blue);
}

[data-theme='light'] a:hover {
	color: var(--darkblue);
}