.form-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 var(--xl) var(--h3);
  text-align: center;
  display: flex;
  flex-flow: column;
  gap: var(--h5);
  border: 1px dotted var(--blue);
  border-radius: var(--base-radius);
  box-shadow: var(--blue) 0 0 12px;
  position: relative;
}

.form-header {
  color: var(--lightlime);
  padding: var(--h3) 0;
}

.form-label {
  text-align: start;
  display: block;
  font-size: var(--h6);
}

.form-input {
  padding: var(--xs);
  border: none;
  background-color: var(--lightlime20);
  border: 1px dotted var(--lightlime);
  border-radius: var(--base-radius);
  font-size: var(--h6);
}

::placeholder {
  color: var(--darkblue);
  opacity: 1; /* Firefox */
}

.form-block {
  padding-bottom: var(--h3);
}

@layer buttons-links {
  .form-button {
    background-color: transparent;
    padding: var(--small);
    border: 1px dotted var(--white);
    border-radius: var(--base-radius);
    color: var(--lightlime);
    font-size: var(--h6);
    font-family: var(--ff-regular);
    cursor: pointer;
  }
  .form-button:hover {
    color: var(--lightgreen);
    border: 1px dotted var(--lightgreen);
    background-color: var(--darkblue);
  }
  
  .form-register,
  .form-sign-in {
    color: var(--lightgreen);
  }
  .form-register:hover,
  .form-sign-in:hover {
    color: var(--blue);
  }
}

.form-hint {
  color: var(--blue);
}

.form-errors {
  padding: var(--h5) 0 0;
  margin: 0;
  min-height: 56px;
  font-size: var(--small);
  color: var(--warning);
}

.form-spinner {
  font-size: var(--lg);
  position: absolute;
  top: 25%;
  left: 40%;
  animation: rotate-animation 4s infinite linear;
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
	100% {
		transform: rotate(360deg);
	}
}
